<div style="width: 400px; background: rgb(8, 214, 36); height: 200px; display: block; margin: 15% auto">  
    <h4 style="text-align: center; display: block; padding: 5px 0">Пользователь</h4>
    <h4 style="text-align: center; display: block; padding: 5px 0">{{text}}</h4>
    <h4 style="text-align: center; display: block; padding: 5px 0">есть</h4>
    <button class="btn btn-primary"><a href="../" style="font-size: 15px; text-decoration: none; color:rgb(255, 255, 255); ">Назад</a></button>
</div>
  